<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: .3em;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>authId</th>
        <th>userName</th>
        <th>password</th>
        <th>displayName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${allMembers}">
        <td th:text="${member.id}"></td>
        <td th:text="${member.authId}"></td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.password}"></td>
        <td th:text="${member.displayName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>