<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>글 목록 페이지</title>
    <style>
        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: .3em;
        }
    </style>
</head>
<body>
<h1>글 목록</h1>
<hr>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>owner</th>
        <th>title</th>
        <th>content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${allBoards}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.owner}"></td>
        <td th:text="${board.title}"></td>
        <td th:utext="${board.content}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>