<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메인</title>
</head>
<body>
<h1>메인 페이지</h1>
<hr>
<ul>
    <li sec:authorize="isAnonymous()"><a th:href="@{/user/login}">로그인</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">로그아웃</a></li>
    <li sec:authorize="isAnonymous()"><a th:href="@{/user/register}">회원가입</a></li>
    <li sec:authorize="isAnonymous()"><a th:href="@{/user/members}">회원목록</a></li>
    <li sec:authorize="hasRole('ROLE_MEMBER')"><a th:href="@{/user/info}">내정보</a></li>
    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">어드민</a></li>
</ul>
</body>
</html>